<div class= "container">
<div class="page-header">
  <h1> <%= @survey.title %></h1>
  <h2><%= @survey.description %></h2>
</div>

<div class="col-sm-6">
  <div class=" panel-default">
    <% @questions.each do |question| %>
    <div class="panel-heading">Question: <%= question.question %> <button type="button" class="btn btn-default pull-right"><a href="/users/<%=@survey.maker.id%>/surveys/<%=@survey.id%>/questions/<%=question.id%>/edit ">Edit</a></button></div>
    <ul class="list-group">
      <% count = 1 %>
      <% answers = question.answers %>
      <% answers.each do |answer| %>
      <li class="list-group-item">
        <%= count %>) <%= answer.answer %>
        <% count += 1 %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <a href="/users/<%=session[:user_id]%>/surveys/<%=@survey.id%>/questions/new">Add another question.</a>

</div><!-- closing container  -->
