<div class= "container">
  <div class="page-header">
    <h1><%=@survey.title%> <small><%=@survey.description%></small></h1>
  </div> <!-- closing individual answer div   -->

<%if @errors%>
  <div class="errors-wrapper">
    <span>Your answers could not be saved: </span>
    <ul class="errors">
      <% @errors.each do |error| %>
      <li class="error"><%=error%> </li>
      <%end%>
    </ul>
  </div>  <!-- closing errors-wrapper container  -->
<%end%>

  <div class="question-answer container">
    <form  id = "answer_survey" action ="<%= "/surveys/#{@survey.id}/take" %>" method = "POST">
    <ol class= "question-list">
      <fieldset>
      <% @survey.questions.each do |question| %>
      <li class "question-text"><%= question.question %> </li>
          <% question.answers.each do |answer| %>
            <input type ="radio" class = "answer-button" name = <%= "answers[#{question.id}]"%> value = <%= "#{answer.id}" %> > <%=answer.answer%>
          <%end%>
          </fieldset>
      <%end%>
      <div class="submit-button">
      <input type="submit" value="Submit Answers">
      </div> <!-- closing submit-button  -->
    </form>
  </div>  <!-- closing question-answer container  -->
</div> <!-- closing container  -->

